@font-face {
    font-family: GothamProRegular;  
    src: url('../fonts/GothamProRegular/GothamProRegular.eot');
    src: url('../fonts/GothamProRegular/GothamProRegular.eot') format('eot'),
    url('../fonts/GothamProRegular/GothamProRegular.woff') format('woff'),
    url('../fonts/GothamProRegular/GothamProRegular.ttf')  format('truetype'),
    url('../fonts/GothamProRegular/GothamProRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
     font-family: GothamProBlack;  
     src: url('../fonts/GothaProBla/GothaProBla.eot');
     src: url('../fonts/GothaProBla/GothaProBla.eot') format('eot'),
     url('../fonts/GothaProBla/GothaProBla.woff') format('woff'), 
     url('../fonts/GothaProBla/GothaProBla.ttf')  format('truetype'),
     url('../fonts/GothaProBla/GothaProBla.svg') format('svg');
     font-weight: 900;
     font-style: normal;
  }
  @font-face {
     font-family: GothamProBold;  
     src: url('../fonts/GothaProBol/GothaProBol.eot'); 
     src: url('../fonts/GothaProBol/GothaProBol.eot') format('eot'),  
     url('../fonts/GothaProBol/GothaProBol.woff') format('woff'), 
     url('../fonts/GothaProBol/GothaProBol.ttf')  format('truetype'),  
     url('../fonts/GothaProBol/GothaProBol.svg') format('svg'); 
     font-weight: bold;
     font-style: normal;
  }
  @font-face {
     font-family: GothamProMedium;  
     src: url('../fonts/GothaProMed/GothaProMed.eot'); 
     src: url('../fonts/GothaProMed/GothaProMed.eot') format('eot'),  
     url('../fonts/GothaProMed/GothaProMed.woff') format('woff'), 
     url('../fonts/GothaProMed/GothaProMed.ttf')  format('truetype'), 
     url('../fonts/GothaProMed/GothaProMed.svg') format('svg');  
     font-weight: normal;
     font-style: normal;
  }
 
body,html,h1,h2,h3,h4,h5,h6{
 margin: 0;
 padding: 0;
}

a{
 text-decoration: none;
}
input:active,input:focus{
 outline: none;
}
a:active,a:hover{
 outline: none;
}
.btn:active,.btn:hover{
 outline: none;
}
.footer__mobile,.header__IconMobileVersion{
 display: none;
}
.container{
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}
.btn:hover{
 -webkit-transform: scale(1.03);
     -ms-transform: scale(1.03);
         transform: scale(1.03);
         -webkit-transition: 0.5s;
         -o-transition: 0.5s;
         transition: 0.5s;
}
.footer__phone:hover{
 -webkit-transform: scale(1.02);
     -ms-transform: scale(1.02);
         transform: scale(1.02);
}
/* HEADER */
.header{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 height: 81px;

 background-color: #fff;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.header__logo{
 margin-right: 20px;
}
.header__description{
 font-family: GothamProRegular;
 font-size: 15px;

 margin-right: 215px;

 color: #30303e;
}
.header__phone{
 font-family: GothamProBlack;
 font-size: 18px;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 margin-right: 32px;

 text-align: right;

 color: #30303e;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.phone-item__img{
 margin-right: 9px;
}
.phone-item_num{
 cursor: pointer;

 color: black;
}
.header__button-contact{
 font-family:GothamProBold;
 font-size: 15px;
 line-height: 47px;

 width: 220px;
 height: 47px;

 text-align: center;

 color: #fff;
 border-radius: 59px;
 background-color: #6663df;
}

/* information */

.information{
 position: relative;

 height: 558px;

 background: #fff url(../images/First_section/bg_fst_section.png) no-repeat center center;
 background-size: cover;
}
.content{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
     flex-direction: column;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
}
.information__title{
 font-family: GothamProBlack;
 font-size: 40px;

 margin-top: 125px;

 color: #fff;
}
.information__subtitle{
 font-family: GothamProRegular;
 font-size: 17px;

 color: #fff;
}
.information__subtitle{
 line-height: 23px;

 margin-top: 34px;
}
.information__button-view-catalog{
 font-family: GothamProBold;
 font-size: 15px;
 line-height: 47px;

 width: 275px;
 height: 47px;
 margin-top: 31px;

 text-align: center;

 color: #fff;
 border-radius: 59px;
 background-color: #6663df;
}

/* CATALOG */

.catalog{
 position: relative;

 overflow: hidden;

 height: 1356px;

 background: #fff url(../images/second_section/bg_snd_section.png) no-repeat center center;
 background-size: cover;
}


.title{
 font-family: GothamProRegular;
 font-size: 34px;
 font-weight: normal;
 font-style: normal;

 color: #30303e;
}
.catalog__title{
 line-height: 48px;

 display: block;

 margin-top: 82px;

 text-align: center;
}
.items{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 margin-top: 45px;

 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
}
.items__item{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 width: 591px;
 height: 86px;
 margin-bottom: 21px;

 cursor: pointer;

 border-radius: 20px;
 background-color: #fff ;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.items__item:hover{
 -webkit-box-shadow: 0 5px 15px -6px rgba(0, 0, 0, .37);
         box-shadow: 0 5px 15px -6px rgba(0, 0, 0, .37);
}
.items__info{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
     flex-direction: column;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
}
.items__img{
 width: 90px;
 height: 60px;
 margin-left: 13px;

 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
}
.items__title{
 font-family: GothamProBold;
 font-size: 17px;
 line-height: 153%;

 margin-left: 20px;

 color: #30303e;
}
.items__price{
 font-family: GothamProRegular;
 font-size: 17px;
 line-height: 153%;

 margin-left: 20px;

 color: #30303e;
}
.catalog__button-download{
 font-family: GothamProBold;
 font-size: 15px;
 line-height: 58px;

 width: 1200px;
 height: 58px;
 margin-top: 15px;

 text-align: center;

 color: #fff;
 border-radius: 59px;
 background-color: #6663df;
}

/* SERVICES */

.services__title{
 display: block;

 margin-top: 68px;

 text-align: center;
}
.services__list{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
}
.services__item{
 margin-top: 38px;
}
.services-item__img{
 position: relative;
 -o-object-fit: cover;
    object-fit: cover;
 width: 591px;
 height: 268px;
}
.services-item__title{
 font-family: GothamProBold;
 font-size: 17px;
 color: #fff;
 position: absolute;
 z-index: 1;
 margin-top: 178px;
 margin-left: 41px;
}
.services-item__subtitle{
 font-family: GothamProRegular;
 font-size: 17px;
 color: #fff;
 position: absolute;
 z-index: 1;
 margin-top: 204px;
 margin-left: 41px;
}
.services__description{
 font-family: GothamProRegular;
 font-size: 17px;
 display: block;

 margin-top: 100px;
 margin-bottom: 85px;

 text-align: center;

 color: #30303e;
}

hr{
 width: 80%;
 height: 1px;

 color: #e2e1e3;
 border: none;
 background-color: #e2e1e3;
}

/* ADVANTAGES */


.advantages__title{
 display: block;

 margin-top: 71px;

 text-align: center;
}
.advantages__list{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 margin-top: 44px;
 margin-bottom: 72px;

 -ms-flex-pack: distribute;
 justify-content: space-around;
}
.advantages__item{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
     flex-direction: column;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.advantages-item__img{
 width: 65px;
 height: 65px;
}
.advantages-item__title{
 font-family: GothamProBold;
 font-size: 16px;

 margin-top: 22px;

 text-align: center;

 color: #30303e;
}

/* CONTACT US */

.form{
 position: relative; 

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
     flex-direction: column;

 width: 100%;
 max-width: 1200px;
 height: 405px;
 margin: 0 auto;
 margin-bottom: 133px;

 background: #fff url(../images/fourth_section/bg_contact.png) no-repeat center / auto;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.form__title{
 z-index: 111;

 margin-top: 71px;

 color: #fff;
}
.form__inputs{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
     flex-direction: row;

 margin-top: 34px;

 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-direction: row;
}
.form__button-contact-us{
 font-family: GothamProBold;
 font-size: 15px;
 line-height: 47px;

 width: 275px;
 height: 47px;
 margin-top: 34px;

 text-align: center;

 color: #fff;
 border-radius: 59px;
 background-color: #6663df;
}
.form__description{
 font-size: 14px;
 line-height: 19px;

 margin-top: 31px;

 text-align: center;

 color: #7e7e86;
}
.form__item{
 width: 331px;
 height: 50px;
 margin-right: 17px;
 padding-left: 38px;

 border: none;
 border-radius: 59px;
}
.bolt_1{
 position: absolute;
 z-index: -1;
 top: 25%;
 left: -10%;
 width: 239px;
 height: 212px; 
}
.bolt_2{
 position: absolute;
 right: -10%;
 bottom: -25%;
 width: 413px;
 -webkit-filter: blur(5px);
         filter: blur(5px); 
} 

/* FOOTER */

.footer{
 position: relative;

 background-color: #30303e;
}
.footer__contact-information{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 height: 133px;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.footer__map{
 font-family: GothamProRegular;
 font-size: 15px;

 margin-right: 78px;

 color: #fff;
}
.footer__map:before{
 position: relative;

 display: block;
 float: left;

 width: 20px;
 height: 20px;
 margin-top: 2%;
 margin-right: 17px;
 margin-left: 107px;

 content: '';

 background-image: url(../images/footer_map_icon.png);
 background-size: cover;
}
.footer__mail{
 font-family: GothamProMedium;
 font-size: 15px;;

 margin-right: 110px;

 color: #fff;
}
.footer__mail:before{
 position: relative;

 display: block;
 float: left;

 width: 20px;
 height: 16px;
 margin-right: 17px;

 content: '';

 background-image: url(../images/footer_mail_icon.png);
 background-size: cover;
}
.footer__phone{
 font-family: GothamProBold;
 font-size: 15px;

 cursor: pointer;

 color: #fff;
}
.footer__phone:before{
 position: relative;

 display: block;
 float: left;

 width: 12px;
 height: 20px;
 margin-right: 17px;

 content: '';

 background-image: url(../images/footer_mobile_icon.png);
 background-size: cover;
}

/* ADAPTIVE */
@media screen and (max-width: 1500px){
 .container{
     width: 1440px;
 }
 .bolt_1{
     z-index: 1;
     top: 10%;
     left: 0;

     width: 10%;
     height: 30%;

     -webkit-filter: blur(2px);
             filter: blur(2px);
 }
 .bolt_2{
     top: 40%;
     right: 0;

     width: 20%;
     height: 50%;

     -webkit-filter: blur(2px);
             filter: blur(4px);
 }
}
@media screen and (max-width: 1200px){
 .container{
     width: 1140px;
 }
}
@media screen and (max-width: 1199px){
 .container{
     width: 960px;
 }
 .header__description{
     margin-right: 10px;
 }
 .header__phone{
     font-size: 14px;
 }
 .items__item{
     width: 49%;
     height: 86px;
 }
 .services-item__img{
     width: 98%;
     height: 268px;
 }
 hr{
     width: 85%;
 }
 .bolt_1{
     z-index: 112;
     top: 10%;
     left: 5%;

     width: 10%;
     height: 20%;

     -webkit-filter: blur(1px);
             filter: blur(1px);
 }
 .bolt_2{
     top: 40%;
     left: 78%;

     width: 20%;
     height: 50%;

     -webkit-filter: blur(1.5px);
             filter: blur(1.5px);
 }
 .footer__logo{
     width: 90%;
     height: 90%;
 }
 .footer__map{
     font-size: 13px;

     margin-right: 75px;
 }
 .footer__mail{
     font-size: 13px;

     margin-right: 80px;
 }
 .footer__phone{
     font-size: 13px;
 }
 .footer__map:before{
     margin-left: 10px;
 }
 .form{
     margin-bottom: 0;
 }
 .footer__contact-informationn{
     -webkit-box-shadow: 0 -5px 46px 22px rgba(48, 48, 62, .6);
             box-shadow: 0 -5px 46px 22px rgba(48, 48, 62, .6);
 }
}
@media screen and (max-width: 991px){
 .container{
     width: 720px;
 }
 .header__logo{
     width: 85%;
     height: 85%;
     margin-right: 10px;
 }
 .header__description{
     font-size: 13px;

     margin-right: 25px;
 }
 .header__phone{
     font-size: 15px;
 }
 .header__button-contact{
     display: none;
 }

 .services-item__title{
     margin-left: 15px;
 }
 .services-item__subtitle{
     font-size: 15px;

     margin-left: 15px;
 }
 .form__item{
     width: 240px;
     height: 50px;
 }
 .footer__contact-information{
     height: 100px;
 }
 .footer__map{
     font-size: 10px;

     margin-right: 15px;
 }
 .footer__mail{
     font-size: 10px;

     margin-right: 12px;
 }
 .footer__phone{
     font-size: 10px;
 }
 .footer__phone:before{
     margin-right: 5px;
 }
 .footer__map:before{
     margin-left: -10px;
 }

 .footer__logo{
     width: 75%;
     height: 75%;
     margin-right: 10px;
 }
}
@media screen and (max-width: 767px){
 .container{
     width: 540px;
 }
 .header__logo{
     width: 90%;
     margin-right: 30px;
 }
 .header__description{
     display: none;
 }
 .header__phone{
     font-size: 20px;
 }
 .phone-item__img{
     margin-right: 4px;
 }
 .information__title{
     font-size: 30px;

     margin-top: 60px;

     text-align: center;
 }
 .information__subtitle{
     font-size: 20px;

     margin-top: 70px;
     margin-bottom: 100px;

     text-align: center;
 }
 .information__button-view-catalog{
     width: 90%;
     height: 100%;
     margin: 0 auto;
 }
 .catalog{
     height: 350px;
 }
 .catalog__title{
     font-size: 25px;
     line-height: 25px;

     display: block;

     margin-top: 82px;

     text-align: center;
 }
 .items__item{
     display: none;
 }
 .catalog__button-download{
     width: 90%;
     margin: 0 auto;
 }
 .services-item__img{
     width: 450px;
 }
 .services__title{
     font-size: 25px;

     margin-top: 38px;
 }
 .services__list{
     display: block;
     text-align: center;
 }
 .services-item__img{
     width: 100%;
 }
 .services__item{
     margin-top: 25px;
 }
 .services__description{
     margin-top: 30px;
     margin-bottom: 35px;
     font-size: 20px;
 }
 .advantages-item__title{
     font-size: 30px;

     margin-top: 25px;
 }
 .advantages__list{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
         flex-direction: column;

     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
 }
 .advantages-item__img{
     width: 95px;
     height: 95px;
     margin-top: 40px;
 }
 .advantages-item__title{
     font-size: 20px;

     margin-top: 22px;
 }
 .inputs{
         flex-direction: column;

     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
 }
 .form__item{
     width: 250px;
     height: 50px;
     margin-bottom: 20px;
 }
 .footer__contact-information{
     display: none;
 }
 .footer__mobile{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     flex-direction: row;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }
 .footer__mobile{
     height: 50px;
 }
 .footer__mobile-logo{
     width: 85%;
     height: 85%;
 }
 .bolt_1,.bolt_2{
     display: none;
 }
}
@media screen and (max-width: 575px){
 .container{
     width: 100%;
 }
 .header__IconMobileVersion{
     display: block;

     margin-right: 10px;
 }
 .header__phone{
     display: none;
 }
 .header{
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
 }
 .header__IconMobileVersion{
     width: 45px;
     height: 45px;
 }
 .information{
     -webkit-filter: brightness(95%);
             filter: brightness(95%);
 }
 .information__title{
     font-size: 25px;

     margin-top: 80px;

     text-align: center;
 }
 .information__subtitle{
     font-size: 18px;

     margin-top: 100px;
     margin-bottom: 130px;

     text-align: center;
 }
 .information__button-view-catalog{
     width: 80%;
     height: 100%;
     margin: 0 auto;
 }
 .services-item__img{
     width: 100%;
 }
 .services__title{
     font-size: 20px;

     margin-top: 38px;
 }
 .services__description{
     font-size: 13px;

     margin-top: 30px;
     margin-bottom: 35px;
 }
 .form__item{
     margin-right: 0;
 }
 .form__description{
     font-size: 10px;

     margin-top: 0;
 }
 .form__button-contact-us{
     margin-top: 10px;
     margin-bottom: 5px;
 }
 .form__title{
     margin-top: 10%;
 }
 .form__inputs{
     display: block;
     text-align: center;
     margin-top: 10%;
 }
 .bolt_1,.bolt_2{
     display: none;
 }
 .footer__mobile{
     height: 50px;
 }
 .footer__mobile-logo{
     margin-left: 5px;
     width: 65%;
     margin-right: 50px;
 }
 .footer__mobile-map,.footer__mobile-mail,.footer__mobile-phone{
     
     margin-right: 5px;
     width: 80%;
 }
}
